<!DOCTYPE html>
<html>
<head>
  <title>TrialForErik</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<h1>API Responce:</h1>
<%= yield %>

</body>
</html>
